# Extract and Transform the data
In this notebook, I will be loading the 3 csv Data sets and exploring them. I will make the necessary changes needed to work with the data for my modeling.

### Imports

In [2]:
# Data Transformation Libraries
import pandas as pd
import numpy as np

# Visualization Libraries
import matplotlib.pyplot as plt
import plotly.express as pxe
import seaborn as sns

## Load the Data
There are 3 data sets for this project. A train, test and, dependent variables set.

In [5]:
# Load the Data

# first Data Frame

df_1 = pd.read_csv("../Data/Raw_data/0bf8bc6e-30d0-4c50-956a-603fc693d966.csv")

# Second Data Frame

df_2 = pd.read_csv("../Data/Raw_data/4910797b-ee55-40a7-8668-10efd5c1b960.csv")

# Third Data Frame

df_3 = pd.read_csv("../Data/Raw_data/702ddfc5-68cd-4d1d-a0de-f5f566f76d91.csv")

In [6]:
df_1.head()

      id    status_group
0  69572      functional
1   8776      functional
2  34310      functional
3  67743  non functional
4  19728      functional

In [7]:
df_2.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe

In [8]:
df_3.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,50785,0.0,2013-02-04,Dmdd,1996,DMDD,35.290799,-4.059696,Dinamu Secondary School,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,other,other
1,51630,0.0,2013-02-04,Government Of Tanzania,1569,DWE,36.656709,-3.309214,Kimnyak,0,...,never pay,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe
2,17168,0.0,2013-02-01,NaN,1567,NaN,34.767863,-5.004344,Puma Secondary,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,other,other
3,45559,0.0,2013-01-22,Finn Water,267,FINN WATER,38.058046,-9.418672,Kwa Mzee Pange,0,...,unknown,soft,good,dry,dry,shallow well,shallow well,groundwater,other,other
4,49871,500.0,2013-03-27,Bruder,1260,BRUDER,35.006123,-10.950412,Kwa Mzee Turuka,0,...,monthly,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe

Inspecting the dataframes to see what their extreme values may look like:

In [9]:
df_1.describe()

                 id
count  59400.000000
mean   37115.131768
std    21453.128371
min        0.000000
25%    18519.750000
50%    37061.500000
75%    55656.500000
max    74247.000000

In [10]:
df_2.describe()

,id,amount_tsh,gps_height,longitude,latitude,num_private,region_code,district_code,population,construction_year
count,59400.000000,59400.000000,59400.000000,59400.000000,5.940000e+04,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000
mean,37115.131768,317.650385,668.297239,34.077427,-5.706033e+00,0.474141,15.297003,5.629747,179.909983,1300.652475
std,21453.128371,2997.574558,693.116350,6.567432,2.946019e+00,12.236230,17.587406,9.633649,471.482176,951.620547
min,0.000000,0.000000,-90.000000,0.000000,-1.164944e+01,0.000000,1.000000,0.000000,0.000000,0.000000
25%,18519.750000,0.000000,0.000000,33.090347,-8.540621e+00,0.000000,5.000000,2.000000,0.000000,0.000000
50%,37061.500000,0.000000,369.000000,34.908743,-5.021597e+00,0.000000,12.000000,3.000000,25.000000,1986.000000
75%,55656.500000,20.000000,1319.250000,37.178387,-3.326156e+00,0.000000,17.000000,5.000000,215.000000,2004.000000
max,74247.000000,350000.000000,2770.000000,40.345193,-2.000000e-08,1776.000000,99.000000,80.000000,30500.000000,2013.000000

In [11]:
df_3.describe()

,id,amount_tsh,gps_height,longitude,latitude,num_private,region_code,district_code,population,construction_year
count,14850.000000,14850.000000,14850.000000,14850.000000,1.485000e+04,14850.000000,14850.000000,14850.000000,14850.000000,14850.000000
mean,37161.972929,322.826983,655.147609,34.061605,-5.684724e+00,0.415084,15.139057,5.626397,184.114209,1289.708350
std,21359.364833,2510.968644,691.261185,6.593034,2.940803e+00,8.167910,17.191329,9.673842,469.499332,955.241087
min,10.000000,0.000000,-57.000000,0.000000,-1.156459e+01,0.000000,1.000000,0.000000,0.000000,0.000000
25%,18727.000000,0.000000,0.000000,33.069455,-8.443970e+00,0.000000,5.000000,2.000000,0.000000,0.000000
50%,37361.500000,0.000000,344.000000,34.901215,-5.049750e+00,0.000000,12.000000,3.000000,20.000000,1986.000000
75%,55799.750000,25.000000,1308.000000,37.196594,-3.320594e+00,0.000000,17.000000,5.000000,220.000000,2004.000000
max,74249.000000,200000.000000,2777.000000,40.325016,-2.000000e-08,669.000000,99.000000,80.000000,11469.000000,2013.000000

In [12]:
df_1.max()

id                       74247
status_group    non functional
dtype: object

In [13]:
df_2.max()

id                                         74247
amount_tsh                                350000
date_recorded                         2013-12-03
gps_height                                  2770
longitude                                40.3452
latitude                                  -2e-08
wpt_name                                    none
num_private                                 1776
basin                                Wami / Ruvu
region                                     Tanga
region_code                                   99
district_code                                 80
lga                                         Uyui
ward                                        Zuzu
population                                 30500
public_meeting                              True
recorded_by              GeoData Consultants Ltd
permit                                      True
construction_year                           2013
extraction_type                         windmill
extraction_type_group               wind-powered
extraction_type_class               wind-powered
management                                   wug
management_group                      user-group
payment                                  unknown
payment_type                             unknown
water_quality                            unknown
quality_group                            unknown
quantity                                 unknown
quantity_group                           unknown
source                                   unknown
source_type                               spring
source_class                             unknown
waterpoint_type                            other
waterpoint_type_group                      other
dtype: object

In [14]:
df_3.max()

id                                         74249
amount_tsh                                200000
date_recorded                         2013-12-03
gps_height                                  2777
longitude                                 40.325
latitude                                  -2e-08
wpt_name                                    none
num_private                                  669
basin                                Wami / Ruvu
region                                     Tanga
region_code                                   99
district_code                                 80
lga                                         Uyui
ward                                        Zuzu
population                                 11469
public_meeting                              True
recorded_by              GeoData Consultants Ltd
permit                                      True
construction_year                           2013
extraction_type                         windmill
extraction_type_group               wind-powered
extraction_type_class               wind-powered
management                                   wug
management_group                      user-group
payment                                  unknown
payment_type                             unknown
water_quality                            unknown
quality_group                            unknown
quantity                                 unknown
quantity_group                           unknown
source                                   unknown
source_type                               spring
source_class                             unknown
waterpoint_type                            other
waterpoint_type_group                      other
dtype: object